<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />


<meta name="viewport" content="initial-scale=1">

<link rel="shortcut icon" href="/images/help.png" />
</head>
 
<body>
    <header>
       <h1>Autor: <%= title %></h1>
    </header>
    <nav role="navigation">
    <a class="boton" href="/">Inicio</a>
    <a class="boton" href="/quizes/question">Empezar a Jugar</a>
    <a class="boton" href="/">Autor</a>
    </nav>
    <section>
    <article>
    <img class="img" src="/images/mono.jpg" alt="huapooo"/><p>El chimpancé común (Pan troglodytes) es una especie de primate homínido propia de África tropical. Los chimpancés —junto a los bonobos— son los parientes vivos más cercanos al ser humano; su rama evolutiva se separó de la rama de los humanos hace aproximadamente 7 millones de años y comparten el 96% del ADN con ellos,2 lo que ha llevado a Jared Diamond a utilizar el término "el tercer chimpancé" para referirse a nuestra propia especie. Los machos llegan a pesar unos 80 kg en cautiverio y a medir hasta 1,7 m. Se caracteriza por su inteligencia avanzada a menudo comparada a la de los seres humanos. Por ejemplo, se ha observado que los chimpancés jóvenes se construyen "muñecos" y otros juguetes con palos y bastones.3</p>
    </article>
    </section>
    
    <footer>
        <a class="enlacesfooter" href="https://github.com/eumesmoson/">Proyecto en github</a>
    </footer>
</body>
</html>