<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />


<meta name="viewport" content="initial-scale=1">

<link rel="shortcut icon" href="/images/help.png" />
</head>
 
<body>
    <header>
       <h1><%= title %></h1>
       <% if (!session.user){%>
       <div  style="float:right;clear: right;margin-right:10px;margin-top:1%" ></span><a href="/login">Login</a></div>

       <% } else {%>
        <div  style="float:right;clear: right;margin-right:10px;margin-top:1%" ></span>
       <span class="usuario"><%= session.user.username %></span><a href="/logout">Logout</a></div>
       <% }%>
    </header>
    <nav role="navigation">
    <a class="boton" href="/">Inicio</a>
    <a class="boton" href="/quizes">Preguntas</a>
    <a class="boton" href="/autor">Autor</a>
    
    </nav>
    <section>
    <article>
    
    <ol>
    <li>
    <a href="https://openclipart.org/detail/17139/heikobarthfaq128x128">Imagen portada</a>
    </li>
    <li>
    <a href="https://commons.wikimedia.org/wiki/Pan_troglodytes#/media/File:Gombe_Stream_NP_Jungtier_fressend.jpg">Foto</a></li>
    <li>
    <a href="https://www.iconfinder.com/icons/36506/ask_help_question_support_icon#size=128">Icono</a></li>
    <li>
    <a href="https://sopadecoditos.wordpress.com/2012/06/21/texto-con-efecto-3d-con-css3">Efectos Texto</a></li>
    <li>
    <a href="http://www.estudiosurestao.com/blog/6-efectos-para-tus-imagenes-con-css3">Efectos Imagen</a></li>

    </ol>

    

    </article>
    </section>
    
    <footer>

        <a rel="license"  class="enlacesfooter" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Licenza Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" /></a>
        <a class="enlacesfooter" href="https://github.com/eumesmoson/">github</a>
        <a class="enlacesfooter" href="#">Creditos</a>

    </footer>
</body>
</html>