<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />


<meta name="viewport" content="initial-scale=1">

<link rel="shortcut icon" href="/images/help.png" />
</head>
 
<body>
    <header>
       <h1>Bienbenido a <%= title %></h1>
    </header>
    <nav role="navigation">
    <a class="boton" href="/">Inicio</a>
    <a class="boton" href="/quizes/question">Empezar a Jugar</a>
    <a class="boton" href="/autor">Autor</a>

    </nav>
    <section>
    <article>
    <p>El portal donde podrá crear sus propios juegos!</p>

   

    </article>
    </section>
    
    <footer>
        <a class="enlacesfooter" href="https://github.com/eumesmoson/">Proyecto en github</a>
        <a rel="license"  class="enlacesfooter" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Licenza Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" /></a>

    </footer>
</body>
</html>