<!DOCTYPE html>
<html lang="es">
<head>
<title>Edita una pregunta</title>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>

<meta name="viewport" content="initial-scale=1">
<link rel="shortcut icon" href="/images/help.png" />
</head>
<body>
  
    <header>
       <h1>Edita una pregunta</h1>
       <% if (!session.user){%>
       <div  style="float:right;clear: right;margin-right:10px;margin-top:1%" ></span><a href="/login">Login</a></div>

       <% } else {%>
        <div  style="float:right;clear: right;margin-right:10px;margin-top:1%" ></span>
       <span class="usuario"><%= session.user.username %></span><a href="/logout">Logout</a></div>
       <% }%>
    </header>
    <nav class="main" id="n1" role="navigation">
    <a class="boton" href="/">Inicio</a>
     <a class="boton" href="/quizes">Preguntas</a>
    </nav>
    <section>
     <article>
     <form method="post" action="/quizes/<%= quiz.id %>?_method=PUT">
     <% include _forms2.ejs %>
    </form>
     <p> <% if(errors.length){ %>
     Corregir errores:<hr>
     <span class="errores">
      <% for(var i in errors){ %>
         <%=errors[i].message %><hr>
      <% } %>
     </span>
     <% } %>
     </p>

     </article>
    </section>
    
    <footer>
       <a class="enlacesfooter" href="https://github.com/eumesmoson/curso/">github</a>
        <a rel="license"  class="enlacesfooter" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Licenza Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" /></a>
    </footer>
</body>
</html>